@import "../../../../../assets/sass/pages/wizard/wizard-3";

mat-radio-button {
    padding: 18px;
}
.mat-form-field-fluid {
    padding: 10px;
    
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px -8px 0px 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding-top: 18px;
    padding-bottom: 4px;
}
.mat-form-field-suffix {
    top: 0;
    position: initial;
}
.kt_prof-display{
    display: flex;
    label{
        padding: 5px 10px 0px 0px;
        font-weight: 500;
    }
}
.kt_employee-wizard-section{
    padding: 0px 0px!important;
    .wizard-step{
        .wizard-label{
            padding: 1rem 0.5rem!important;
        }
    }
}
.kt_employee-wizard-steps{
    .kt_responsive-section{
        padding: 0px 0px 0px 0px;
        .kt-form{
            .mb-10.font-weight-bold.text-dark{
                padding-left: 10px;
                margin-bottom: 15px!important;
            }
        }
        
    }
}
.btn-disablew {
    opacity: 0;
    pointer-events: none;
    display: none;
}