<div class="wizard wizard-3" id="kt_wizard_v3">
    <!--begin: Form Wizard Step 1-->
    <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
        <!--begin: Form-->
        <form action="#" [formGroup]="projectForm" class="kt-form" autocomplete="off">
            <div class="row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <mat-label>Project title</mat-label>
                        <input matInput placeholder="Enter ProjecTitle" formControlName="projecttitle" />
                        <mat-error>Project Title is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <mat-label>Project Owner</mat-label>
                        <input matInput placeholder="Enter ProjectOwner" formControlName="projectowner" />
                        <mat-error>Project Owner is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid">
                        <mat-label>ProjectType</mat-label>
                        <input matInput placeholder="Enter ProjectOwner" formControlName="projecttype" />
                        <mat-error>Client Details
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <mat-label>Rate</mat-label>
                        <input matInput placeholder="Enter rate" type="number" formControlName="projectrate" />
                        <mat-error>rate
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <mat-label>Client Rate</mat-label>
                        <input matInput placeholder="Enter client rate" type="number" formControlName="clientrate" />
                        <mat-error>client rate
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <mat-label>location</mat-label>
                        <input matInput placeholder="Enter Work Located" formControlName="location" />
                        <mat-error>location is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="picker1" (focus)="picker1.open()"
                            placeholder="Please Enter Start Date" formControlName="startdate">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>End date</mat-label>
                        <input matInput [matDatepicker]="picker" (focus)="picker.open()"
                            placeholder="Please Enter End Date" formControlName="enddate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <!--begin: Form Actions -->
        <div class="d-flex justify-content-between border-top pt-10">
            <div class="mr-2">
                <!-- <div class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"
                data-wizard-type="action-prev">
                Previous
            </div> -->
            </div>
            <div>
                <div class="btn btn-primary font-weight-bold text-uppercase px-9 py-4" style="display: block;"
                    (click)="nextStep()">
                    Next Step
                </div>
            </div>
        </div>
        <!--end: Form Actions -->
    </div>
</div>