@import "../../../../../assets/sass/pages/wizard/wizard-3";

mat-radio-button {
    padding: 18px;
    margin-top: -8px;
}
.input-group-text {
    position: relative;
    top: -5px;
    background-color: #0f87c5;
    border: 1px solid #0f87c5;
    border-radius: .25rem;
    padding-top: 14px;
    padding-bottom: 17px;
    left: 9px;
    padding-left: 10px;
    padding-right: 14px;
    color: #fff;
}
.mat-form-field-suffix {
    top: 0;
    position: initial;
}
.kt_prof-display{
    display: flex;
    label{
        padding: 0px 50px 50px 8px;
        font-weight: 500;
    }
}
.kt_employee-wizard-section{
    padding: 0px 0px!important;
    .wizard-step{
        .wizard-label{
            padding: 1rem 0.5rem!important;
        }
    }
}
.kt_employee-wizard-steps{
    .kt_responsive-section{
        padding: 0px 0px 0px 0px;
        .kt-form{
            .mb-10.font-weight-bold.text-dark{
                padding-left: 10px;
                margin-bottom: 15px!important;
            }
        }
        
    }
}