<ia-portlet>
	<ia-portlet-header [title]="'User Edit'" [class]="'card-head-lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['../../']" class="btn btn-secondary mr-2" mat-raised-button
				matTooltip="Back to the users list">
				<i class="la la-arrow-left"></i>
				<span class="hidden-mobile">Back</span>
			</a>
			<a href="javascript:;" class="btn btn-primary mr-2" color="primary" (click)="onSubmit()" mat-raised-button
				matTooltip="Save">
				<span class="hidden-mobile">Save</span>
			</a>
		</ng-container>
	</ia-portlet-header>
	<ia-portlet-body>
		<mat-tab-group class="project_tab">
			<mat-tab>
				<ng-template matTabContent>
					<!--begin::Form-->
					<form [formGroup]="userForm">
						<div *ngIf="userData">
							<fieldset formGroupName="userDetails">
								<div class="row form-section form-section-first">
									<div class="col-lg-6">
										<mat-form-field appearance="outline" class="mat-form-field-fluid">
											<mat-label>Username</mat-label>
											<input matInput placeholder="Enter Username" formControlName="username" />
											<mat-error>Username is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-6">
										<mat-form-field class="mat-form-field-fluid" appearance="outline">
											<mat-label>Fullname</mat-label>
											<input matInput placeholder="Enter Full Name" formControlName="fullname" />
											<mat-error>Full Name is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<mat-form-field class="mat-form-field-fluid" appearance="outline">
											<mat-label>Email</mat-label>
											<input type="email" matInput placeholder="Enter Email"
												formControlName="email" />
											<mat-error>Email is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-6">
										<mat-form-field class="mat-form-field-fluid" appearance="outline">
											<input placeholder="Phonenumber" matInput type="text"
												[ng2TelInputOptions]="{initialCountry: 'gb'}" ng2TelInput
												(countryChange)="countryChange($event)" appPhoneMask
												formControlName="phonenumber" />
										</mat-form-field>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<mat-form-field class="mat-form-field-fluid" appearance="outline">
											<mat-label>Select Role</mat-label>
											<mat-select placeholder="Please select Role" formControlName="role">
												<mat-option>Please select Role</mat-option>
												<mat-option value="1">Administrator</mat-option>
												<mat-option value="2">Manager</mat-option>
												<mat-option value="3">Employee</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
								<h4 class="mb-10 font-weight-bold text-dark">Generate Password</h4>
								<div class="row generate_pswrd">
									<div class="col-lg-6">
										<mat-form-field class="mat-form-field-fluid" appearance="outline">
											<mat-label>Password</mat-label>
											<input matInput id="passwordOutput" #passwordOutput
												ngModel="{{newPassword}}" formControlName="password" />
										</mat-form-field>
									</div>
									<div class="col-lg-6 generate1_btn">
										<button type="button" class="btn btn-primary mr-2" color="primary"
											(click)="generatePassword()">{{buttonLabel}}</button>
									</div>
								</div>
							</fieldset>
						</div>
					</form>
					<!--end::Form-->
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</ia-portlet-body>
</ia-portlet>