<div class="wizard wizard-3" id="kt_wizard_v3">
    <!--begin: Form Wizard Step 1-->
    <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
        <form [formGroup]="employeeDetailForm" autocomplete="off">
            <div class="row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid">
                        <input type="text" placeholder="Please Enter Employee" aria-label="Employee" matInput 
                        [formControl]="employeeControl" formControlName="first_name" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" 
                        (optionSelected)="applyemployeeFilter($event.option.value)" autoActiveFirstOption="true">
                          <mat-option *ngFor="let employee of filteredOptions | async" [value]="employee">
                            {{employee.first_name}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="employeeControl.errors?.required">
                            Employee Name is Required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <form action="#" [formGroup]="employeeForm" class="kt-form employ_form" autocomplete="off">
            <div class="row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid">
                        <mat-label>Firstname</mat-label>
                        <input matInput placeholder="Enter Firstname" formControlName="first_name" />
                        <mat-error>Firstname is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid">
                        <mat-label>Lastname</mat-label>
                        <input matInput placeholder="Enter Lastname" formControlName="last_name" />
                        <mat-error>Lastname is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Enter Email" formControlName="email" />
                        <mat-error>Email is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input placeholder="Phonenumber" matInput type="text" formControlName="phone_number" />
                        <mat-error>Phone is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <mat-label>Date of Birth</mat-label>
                        <input matInput [matDatepicker]="picker1" (focus)="picker1.open()"
                            placeholder="Please Enter Date of Birth" formControlName="birth_date">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <mat-error>Date of Birth is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-lg-4 kt-margin-bottom-20-mobile employee-radio">
                    <mat-radio-group class="mat-form-field-fluid" formControlName="gender" appearance="outline">
                        <mat-label>Gender:</mat-label>
                        <mat-radio-button value="male" name="gender">Male</mat-radio-button>
                        <mat-radio-button value="female" name="gender">Female</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <mat-label>Address Line</mat-label>
                        <input matInput placeholder="Enter Address Line" formControlName="address" />
                        <mat-error>Address Line is
                            <strong>required</strong>
                        </mat-error>

                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="City" formControlName="city" />
                        <mat-error>City is
                            <strong>required</strong>
                        </mat-error>

                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <mat-label>Pincode</mat-label>
                        <input matInput placeholder="Enter Pincode" formControlName="pincode" />
                        <mat-error>Pincode is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!--end: Form Wizard Step 1-->
        </form>
        <!--begin: Form Actions -->
        <div class="d-flex justify-content-between border-top pt-10">
            <div class="mr-2">
                <div class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4" (click)="prevStep()"
                    style="display: block;">
                    Previous
                </div>
            </div>
        </div>
        <!--end: Form Actions -->
    </div>
</div>