<div class="wizard wizard-3" id="kt_wizard_v3">
    <!--begin: Form Wizard Step 3-->
    <div class="pb-5" data-wizard-type="step-content">
        <form action="#" [formGroup]="employeeDocumentsForm" class="kt-form employ_form">
            <div class="form-group row">
                <div class="col-lg-12 kt-margin-bottom-20-mobile kt_prof-display">
                    <label for="file">ID Proof</label>
                    <div appearance="outline">
                        <input type="file" name="file" type="file" class="file-upload-field id-proof_image" formControlName="id_proof"
                            (change)="onSelectedProfFile($event)">
                    </div>
                </div>
                <div class="col-lg-12 kt-margin-bottom-20-mobile kt_prof-display">
                    <label for="file">Upload Visa</label>
                    <div class="file-upload-wrapper" data-text="Select your file!">
                        <input type="file" name="file" type="file" class="file-upload-field" formControlName="visa_type"
                            (change)="onSelectedVisaFile($event)">
                    </div>
                </div>
            </div>
        </form>
        <!--begin: Form Actions -->
        <div class="d-flex justify-content-between border-top pt-10">
            <div class="mr-2">
                <div class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"
                    data-wizard-type="action-prev">
                    Previous
                </div>
            </div>
            <div>
                <div (click)="nextStep()" class="btn btn-primary font-weight-bold text-uppercase px-9 py-4"
                    data-wizard-type="action-next">
                    Next Step
                </div>
            </div>
        </div>
        <!--end: Form Actions -->
        <!--end: Form Wizard Step 3-->
    </div>
</div>