.invoice_icon.fa-arrow-right:before {
    padding: 4px;
}
.date-block{
    display: contents;
}
.label-lg.label-light-label-inline.status {
    width: 70px;
    background: #f64e60;
    color: #fff;
    border-radius: 10px;
}