<div class="wizard wizard-3" id="kt_wizard_v3">
    <!--begin: Form Wizard Step 4-->
    <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
        <form action="#" [formGroup]="timesheetAccountForm" class="kt-form" autocomplete="off">
            <mat-checkbox (change)="changeTimesheetDetails($event)" class="client_checkbox">
                <h4>Same as Supervisor Details!</h4>
            </mat-checkbox>
            <div class="row">
                <div class="col-lg-6 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid">
                        <mat-label>Timesheet Firstname</mat-label>
                        <input matInput placeholder="Enter Timesheet Firstname" formControlName="timesheetFirstname" />
                        <mat-error>Timesheet Firstname
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-lg-6 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid">
                        <mat-label>Timesheet Email</mat-label>
                        <input matInput placeholder="Enter Timesheet Email" formControlName="timesheetEmail" />
                        <mat-error>Timesheet Email
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-lg-6 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid">
                        <input matInput placeholder="Enter Contact Phone" type="text"
                        [ng2TelInputOptions]="{initialCountry: 'gb'}" ng2TelInput
                        (countryChange)="countryChange($event)" appPhoneMask  formControlName="timesheetPhonenumber" />
                        <mat-error>Timesheet Phone
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
            <!--end: Form Wizard Step 4-->
        </form>
        <!--begin: Form Actions -->
        <div class="d-flex justify-content-between border-top pt-10">
            <div class="mr-2">
                <div class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4" (click)="prevStep()"
                    style="display: block;">
                    Previous
                </div>
            </div>
        </div>
        <!--end: Form Actions -->
    </div>
</div>