.invoice-6 .invoice-6-container {
    background-color:#01265c	;
}
.invoice-6 .note-color {
    color: #ffffff;
}
.text-white {
    color: #ffffff !important;
}
.invoice-6 .title-color {
    color: #b5a6d2;
}
@media print{
.table td, .table th {
    background-color:#01265c !important;
}
}