<div class="kt-portlet" class="mat-overlay">
	<div class="kt-portlet__body">
		<div  *ngIf="errorCode">
			<h3 class="kt-portlet__head-title">
				OOPS..!
			</h3>
			<p>Something went wrong. please try again</p>
		</div>
		<div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit text-right">
			<div class="kt-form__actions kt-form__actions--sm">
				<button class="btn btn-primary" (click)="onYesClick()" color="primary" cdkFocusInitial [disabled]="viewLoading">Try Again</button>
			</div>
		</div>
	</div>
</div>
