<div class="wizard wizard-3" id="kt_wizard_v3">
    <!--begin: Form Wizard Step 2-->
    <div class="pb-5" data-wizard-type="step-content">
        <form action="#" [formGroup]="employeeGeneratePasswordForm" class="kt-form" autocomplete="off">
            <div class="row generate_pswrd">
                <div class="col-lg-6">
                    <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput id="passwordOutput" #passwordOutput ngModel="{{newPassword}}"
                            formControlName="password" />
                    </mat-form-field>
                </div>
                <div class="col-lg-6 generate1_btn">
                    <button type="button" class="btn btn-primary mr-2" color="primary"
                        (click)="generatePassword()">{{buttonLabel}}</button>
                </div>
            </div>
        </form>
        <!--end: Form Wizard Step 4-->
        <!--begin: Form Actions -->
        <div class="d-flex justify-content-between border-top pt-10">
            <div class="mr-2">
                <div class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"
                    data-wizard-type="action-prev" (click)="prevStep()" style="display: block;">
                    Previous
                </div>
            </div>
        </div>
        <!--end: Form Actions -->
    </div>
</div>