

		<!--begin: Wizard -->
		<div #wizard class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first">
			<div class="kt-grid__item">
				<!--begin: Form Wizard Nav -->
				<div class="wizard-nav border-bottom mb-1 mb-lg-5">
					<div class="wizard-steps px-8 py-8 px-lg-15 py-lg-3">
						<a class="wizard-step" href="javascript:;" data-wizard-type="step" data-wizard-state="current">
							<div class="wizard-label">
								<div class="wizard-title">
									<span>1</span> Employee Details
								</div>
								<div class="wizard-bar"></div>
							</div>
						</a>
						<a class="wizard-step" href="javascript:;" data-wizard-type="step">
							<div class="wizard-label">
								<div class="wizard-title">
									<span>2</span> Employee Professional Info
								</div>
								<div class="wizard-bar"></div>
							</div>
						</a>
						<a class="wizard-step" href="javascript:;" data-wizard-type="step">
							<div class="wizard-label">
								<div class="wizard-title">
									<span>3</span> Employee Documents
								</div>
								<div class="wizard-bar"></div>
							</div>
						</a>
						<a class="wizard-step" href="javascript:;" data-wizard-type="step">
							<div class="wizard-label">
								<div class="wizard-title">
									<span>4</span> Generate Password
								</div>
								<div class="wizard-bar"></div>
							</div>
						</a>
						<!-- <a class="wizard-step" href="javascript:;" data-wizard-type="step">
							<div class="wizard-label">
								<div class="wizard-title">
									<span>5</span> Review and Submit
								</div>
								<div class="wizard-bar"></div>
							</div>
						</a> -->
					</div>
				</div>
				<!--end: Form Wizard Nav -->

			</div>
			<div class="row justify-content-center py-12 px-8 py-lg-15 px-lg-10">
				<div class="col-xl-12 col-xxl-7">
					<!--begin: Form Wizard Form-->
					<form class="form" id="kt_form">
						<!--begin: Form Wizard Step 1-->
						<div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
							<h4 class="mb-10 font-weight-bold text-dark">Employee Professional Info</h4>
							<div class="row">
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" name="fname" [(ngModel)]="model.fname" placeholder="First Name" value="John">
                                    <span class="form-text text-muted">Please enter your first name.</span>
                                </div>
                            </div>
                            <div class="col-xl-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="lname" [(ngModel)]="model.lname" placeholder="Last Name" value="Wick">
                                <span class="form-text text-muted">Please enter your last name.</span>
                            </div>
                             </div>
                             <div class="col-xl-6">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="tel" class="form-control" name="phone" [(ngModel)]="model.phone" placeholder="phone" value="+61412345678">
                                    <span class="form-text text-muted">Please enter your phone number.</span>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" name="email" [(ngModel)]="model.email" placeholder="Email" value="john.wick@reeves.com">
                                    <span class="form-text text-muted">Please enter your email address.</span>
                                </div>
                            </div>
								<div class="col-xl-6">
									<div class="form-group">
										<label>Postcode</label>
										<input type="text" class="form-control" name="postcode" [(ngModel)]="model.postcode" placeholder="Postcode" value="3000">
										<span class="form-text text-muted">Please enter your Postcode.</span>
									</div>
								</div>
								<div class="col-xl-6">
									<div class="form-group">
										<label>City</label>
										<input type="text" class="form-control" name="city" [(ngModel)]="model.city" placeholder="City" value="Melbourne">
										<span class="form-text text-muted">Please enter your City.</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xl-6">
									<div class="form-group">
										<label>State</label>
										<input type="text" class="form-control" name="state" [(ngModel)]="model.state" placeholder="State" value="VIC">
										<span class="form-text text-muted">Please enter your Postcode.</span>
									</div>
								</div>
								<div class="col-xl-6">
									<div class="form-group">
										<label>Country:</label>
										<select name="country" [(ngModel)]="model.country" class="form-control">
											<option value="">Select</option>
											<option value="AF">Afghanistan</option>
											<option value="AX">Åland Islands</option>
											<option value="AL">Albania</option>
											<option value="DZ">Algeria</option>
											<option value="AS">American Samoa</option>
											<option value="AD">Andorra</option>
											<option value="AO">Angola</option>
											<option value="AI">Anguilla</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<!--end: Form Wizard Step 1-->

						<!--begin: Form Wizard Step 2-->
						<div class="pb-5" data-wizard-type="step-content">
							<h4 class="mb-10 font-weight-bold text-dark">Employee Professional Info</h4>
							<div class="form-group">
								<label>Experience Years</label>
								<input type="text" class="form-control" name="experience" [(ngModel)]="model.experience" placeholder="Experience Years" value="2">
								<span class="form-text text-muted">Please enter Experience Years</span>
							</div>
							<div class="form-group">
								<label>Previous Company</label>
								<input type="text" class="form-control" name="company" [(ngModel)]="model.Company" placeholder="Previous Company" value="25">
								<span class="form-text text-muted">Please enter your Previous Company.</span>
							</div>
							<div class="row">
								<div class="col-xl-4">
									<div class="form-group">
										<label>Visa Status</label>
                                        <select name="country" [(ngModel)]="model.visa" class="form-control">
											<option value="">Select</option>
											<option value="AF">Afghanistan</option>
											<option value="AX">Åland Islands</option>
											<option value="AL">Albania</option>
											<option value="DZ">Algeria</option>
											<option value="AS">American Samoa</option>
											<option value="AD">Andorra</option>
											<option value="AO">Angola</option>
											<option value="AI">Anguilla</option>
                                        </select>
                                        <span class="form-text text-muted">Please enter your visa.</span>
									</div>
								</div>
								<div class="col-xl-4">
									<div class="form-group">
										<label>skills</label>
                                        <select name="country" [(ngModel)]="model.skills" class="form-control">
											<option value="">Select</option>
											<option value="AF">Afghanistan</option>
											<option value="AX">Åland Islands</option>
											<option value="AL">Albania</option>
											<option value="DZ">Algeria</option>
											<option value="AS">American Samoa</option>
											<option value="AD">Andorra</option>
											<option value="AO">Angola</option>
											<option value="AI">Anguilla</option>
                                        </select>
                                        <span class="form-text text-muted">Please Select Your Skills</span>
									</div>
								</div>
							</div>
						</div>
						<!--end: Form Wizard Step 2-->

						<!--begin: Form Wizard Step 3-->
						<div class="pb-5" data-wizard-type="step-content">
							<h4 class="mb-10 font-weight-bold text-dark">Employee Documents</h4>
							
						</div>
						<!--end: Form Wizard Step 3-->

						<!--begin: Form Wizard Step 4-->
						<div class="pb-5" data-wizard-type="step-content">
							<h4 class="mb-10 font-weight-bold text-dark">Generate Password</h4>
							
						</div>
                        <!--end: Form Wizard Step 4-->
                        
						<!--begin: Form Actions -->
						<div class="d-flex justify-content-between border-top pt-10">
							<div class="mr-2">
								<div class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-prev">
									Previous
								</div>
							</div>
							<div>
								<div (click)="onSubmit()" class="btn btn-success font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-submit">
									Submit
								</div>
								<div class="btn btn-primary font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-next">
									Next Step
								</div>
							</div>
						</div>
						<!--end: Form Actions -->
					</form>
					<!--end: Form Wizard Form-->
				</div>
			</div>
		</div>
		<!--end: Wizard -->
