<div class="wizard wizard-3 invoice-wizard-sd" id="kt_wizard_v3">
    <div class="kt-grid__item">
        <!--begin: Form Wizard Nav -->
        <div class="wizard-nav">
            <div class="wizard-steps px-8 py-8 px-lg-15 py-lg-3 kt_employee-wizard-section">
                <a class="wizard-step" href="javascript:;" data-wizard-type="step" data-wizard-state="current">
                    <div class="wizard-label">
                        <div class="wizard-title">
                            <span>1</span> Employee Details
                        </div>
                        <div class="wizard-bar"></div>
                    </div>
                </a>
                <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                    <div class="wizard-label">
                        <div class="wizard-title">
                            <span>2</span> Employee Professional Info
                        </div>
                        <div class="wizard-bar"></div>
                    </div>
                </a>
                <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                    <div class="wizard-label">
                        <div class="wizard-title">
                            <span>3</span> Employee Documents
                        </div>
                        <div class="wizard-bar"></div>
                    </div>
                </a>
                <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                    <div class="wizard-label">
                        <div class="wizard-title">
                            <span>4</span> Generate Password
                        </div>
                        <div class="wizard-bar"></div>
                    </div>
                </a>
            </div>
        </div>
        <!--end: Form Wizard Nav -->
    </div>
</div>