<ia-portlet>
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->
    <ia-portlet-header [class]="'card-head-lg'">
        <ng-container ktPortletTitle>
               <!-- start::FILTERS & GROUP ACTIONS -->
        <div class="form kt-margin-b-30">
            <!-- start::FILTERS & GROUP ACTIONS -->
            <div class="form mb-3">
                <!-- start::FILTERS -->
                <div class="form-user">
                    <div class="row align-items-center">
                        <div class="col-md-2 kt-margin-bottom-10-mobile">
                            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                                <input class="search" matInput (keyup)="applyFilter($event.target.value)"
                                    placeholder="Filter" #searchInput>
                                <mat-hint align="start">
                                    <strong>Search</strong> in all fields
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 kt-margin-bottom-10-mobile inv_st">
                            <mat-form-field appearance="outline">
                                <mat-select  (selectionChange)="applyInvoiceFilter($event.value)" placeholder="Select invoice status">
                                    <mat-option value="">All</mat-option>
                                    <mat-option value="overdue">Overdue</mat-option>
                                    <mat-option value="Sent">Sent</mat-option>
                                    <mat-option value="pending">Pending</mat-option>
                                </mat-select>
                                <mat-hint align="start">
                                    <strong>Filter</strong> by Status
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <form class="date-block" [formGroup]="filterForm">
                        <div class="date-block__list">
                            <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="fromDate" placeholder="From Date" 
                                formControlName="fromDate">
                                <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                                <mat-datepicker #fromDate></mat-datepicker>
                            </mat-form-field>
                        </div>&nbsp;&nbsp;
                        <div class="date-block__list">
                            <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="toDate" placeholder="To Date" 
                                formControlName="toDate">
                                <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                                <mat-datepicker #toDate></mat-datepicker>
                            </mat-form-field>
                        </div>&nbsp;&nbsp;
                        <div class="btn btn-primary mr-2 date_sbmt" color="primary" (click)="dateFilter()" data-wizard-type="action-submit">
                            Search
                        </div>
                    </form>
                    </div>
                </div>
                <!-- end::FILTERS -->
            </div>
        </div>
        <!-- end::FILTERS & GROUP ACTIONS -->
        </ng-container>
    </ia-portlet-header>
    <!-- end::Header -->
    <ia-portlet-body>
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
                matSortActive="id" matSortDirection="asc" matSortDisableClear>
                <!-- Table with selection -->
                <!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>S.No</mat-header-cell>
                    <mat-cell *matCellDef="let i = index">{{i+1}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="invoicename">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Name</mat-header-cell>
                    <mat-cell *matCellDef="let invoice">{{invoice.invoice_name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="receipt">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Receipt</mat-header-cell>
                    <mat-cell *matCellDef="let invoice">#331345687</mat-cell>
                </ng-container>
                <ng-container matColumnDef="invoiceCreateDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Created Date</mat-header-cell>
                    <mat-cell *matCellDef="let invoice">{{invoice.invoice_created_date| date: 'dd-MM-yyyy'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                    <mat-cell *matCellDef="let invoice" [ngClass]="{'pending' : invoice.status == 'pending',
                        'overdue' : invoice.status == 'overdue',
                        'sent' : invoice.status == 'sent'}">
                     <span class="invoice_satus"> {{invoice.status}}</span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let invoice" class="invoice_btn">
                        <div (click)="editInvoice(invoice)" class="btn btn-primary mr-2" color="primary"
                            data-wizard-type="action-submit">
                            view
                        </div>&nbsp;
                        <div (click)="viewInvoice(invoice)" class="btn btn-primary mr-2" color="primary" data-wizard-type="action-submit">
                            send
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
        </div>
        <div class="mat-table__bottom">
            <!-- MATERIAL PAGINATOR | Binded to dasources -->
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>
        </div>
    </ia-portlet-body>
</ia-portlet>