<div class="row justify-content-center py-12 px-8 py-lg-15 px-lg-10">
    <div class="col-xl-12 col-xxl-7">
        <!--begin: Form Wizard Form-->
            <form action="#"  [formGroup]="clientForm" id="kt_form" class="kt-form">
            <!--begin: Form Wizard Step 1-->
            <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                <h4 class="mb-10 font-weight-bold text-dark">Client Details</h4>
                <div class="row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Enter Clientname" formControlName="clientname"/>
                        <mat-error>Clientname is
                            <strong>required</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter
                            <strong>Clientname</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Enter Lastname" formControlName="lastname"/>
                        <mat-error>Lastname is
                            <strong>required</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter
                            <strong>Lastname</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                <h4 class="mb-10 font-weight-bold text-dark contact_details">Contact Details</h4></div>
                <div class="col-lg-6 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Enter Contactname" formControlName="contactname"/>
                        <mat-error>Contactname is
                            <strong>required</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter
                            <strong>Contactname</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-6 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input type="email" matInput placeholder="Enter ContactEmail" formControlName="contactemail"/>
                        <mat-error>ContactEmail is
                            <strong>required</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter
                            <strong>ContactEmail</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-6 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Enter ContactPhone" formControlName="contactphone"/>
                        <mat-hint align="start">Please enter
                            <strong>ContactPhone</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>
                </div>
            </div>
            
            <!--begin: Form Actions -->
            <div class="d-flex justify-content-between border-top pt-10">
                <div>
                    <div (click)="onSubmit()" class="btn btn-success font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-submit">
                        Submit
                    </div>
                </div>
            </div>
            <!--end: Form Actions -->
        </form>
    </div>
    </div>