.acc-app{
    mat-form-field{
        width: 100%;;
    }
    .form .form-group{
        padding-bottom: 0px;
    }
    h1{
        background: #f7f7f7;
        text-align: center;
        box-shadow: 0px 0.4px 6px #d2e8f9;
        color: #03A9F4;
        border-radius: 6px;
    
    }
    .mat-form-field-flex {
        display: inline-flex;
        align-items: baseline;
        box-sizing: border-box;
        width: 100%;
        background: #f2f2f2;
        padding-left: 6px;
        padding-bottom: 8px;
        padding-right: 8px;
    }
}