<ia-portlet>
    <!-- start::Header -->
    <ia-portlet-header [class]="'card-head-lg'">
        <ng-container ktPortletTitle>
            <!-- start::FILTERS -->
            <div class="form-contract-filtration">
                <div class="row align-items-center">
                    <div class="col-md-6 kt-margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid" appearance="outline">
                            <input class="search" matInput (keyup)="applyFilter($event.target.value)"
                                placeholder="Filter" #searchInput>
                            <mat-hint align="start">
                                <strong>Search</strong> in all fields
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 kt-margin-bottom-10-mobile">
                        <mat-form-field appearance="outline">
                            <mat-select (selectionChange)="applyContractFilter($event.value)"
                                placeholder="Select status">
                                <mat-option value="">Please select</mat-option>
                                <mat-option value="Approved">Approved</mat-option>
                                <mat-option value="Pending">Pending</mat-option>
                                <mat-option value="Cancelled">Cancelled</mat-option>
                            </mat-select>
                            <mat-hint align="start">
                                <strong>Filter</strong> by Status
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </ng-container>
        <!-- end::FILTERS -->
        <ng-container ktPortletTools>
            <button [routerLink]="['/contract/contract-create']" mat-raised-button color="primary"
                matTooltip="Create new contract">New contract</button>
            <!-- Buttons (Material Angular) | See off.doscumenations 'https://material.angular.io/components/button/overview' -->
            <!-- mat-raised-button | Rectangular contained button w/ elevation  -->
        </ng-container>
    </ia-portlet-header>
    <!-- start::Body (attribute: ktPortletBody) -->
    <ia-portlet-body>
        <!-- MATERIAL TABLE | Binded to datasources -->
        <!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
                matSortActive="id" matSortDirection="asc" matSortDisableClear>
                <!-- Checkbox Column -->

                <!-- Table with selection -->
                <!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="id">
                    <!-- ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview -->
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let user; let i = index">
                        {{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1) }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="consultantname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Consultant Name</mat-header-cell>
                    <mat-cell *matCellDef="let contract">{{contract.consultname}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="jobid">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Job Id</mat-header-cell>
                    <mat-cell *matCellDef="let contract">{{contract.jobid}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="projectname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Project Name</mat-header-cell>
                    <mat-cell *matCellDef="let contract">{{contract.project.project_owner}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="clientname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</mat-header-cell>
                    <mat-cell *matCellDef="let contract">{{contract.client.client_firstname}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="employeename">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name</mat-header-cell>
                    <mat-cell *matCellDef="let contract">{{contract.employee.first_name}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="startdate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="email-cell">Start Date</mat-header-cell>
                    <mat-cell *matCellDef="let contract" class="email-cell">{{contract.startdate| date: 'dd-MM-yyyy'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="enddate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
                    <mat-cell *matCellDef="let contract">{{contract.enddate| date: 'dd-MM-yyyy'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                    <mat-cell *matCellDef="let contract">{{contract.contract_status}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let contract">
                        <button (click)="editContract(contract.id)" mat-icon-button color="primary"
                            matTooltip="Edit contract">
                            <mat-icon>create</mat-icon>
                        </button>
                        <div class="contract-status" *ngIf="curentUserRoles =='1'">
                            <button
                                *ngIf="contract.contract_status ==='Pending'||contract.contract_status ==='Cancelled'"
                                (click)="approvedContract(contract)" mat-icon-button matTooltip="Approved contract">
                                <mat-icon><i class="fa fa-check-circle approved" aria-hidden="true"></i></mat-icon>
                            </button>
                            <button *ngIf="contract.contract_status ==='Approved'" (click)="cancelContract(contract)"
                                mat-icon-button color="red" matTooltip="Cancelled contract">
                                <mat-icon><i class="fa fa-times cancell_btn"></i></mat-icon>
                            </button>
                        </div>
                        <button mat-icon-button color="warn" matTooltip="Delete Contract" type="button"
                            (click)="deleteContract(contract)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <!-- MATERIAL PAGINATOR | Binded to dasources -->
            <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
            <mat-paginator #paginatorRef [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [showFirstLastButtons]="true">
            </mat-paginator>
        </div>
        <!-- end: BOTTOM -->
    </ia-portlet-body>
    <!-- end::Body -->
</ia-portlet>